{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <style>
        {{ include('@RmClient/Collector/client.css.twig') }}
    </style>
{% endblock %}

{% block toolbar %}
    {% if collector.hasErrors %}
        {% set icon %}
            {{ include('@RmClient/Icon/remessage.svg') }}
            <span class="sf-toolbar-value">{{ collector.errorsCount }}</span>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { status: 'red' }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ collector.hasErrors ? 'label-status-warning' }} {{ not collector.enabled ? 'disabled' }}">
        <span class="icon">{{ include('@RmClient/Icon/remessage.svg') }}</span>
        <strong>Re Message Client</strong>
        {% if collector.interactions|length %}
            <span class="count">
                {{ collector.interactions|length }}
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <h2>Re Message Client</h2>

    {% include '@RmClient/Collector/metrics/index.html.twig' with {
        application: collector.application,
        user: collector.user
    } only %}

    {% include '@RmClient/Collector/interactions/index.html.twig' with {
        interactions: collector.interactions
    } only %}
{% endblock %}
